<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.springframework.org/schema/beans
http://www.springframework.org/schema/beans/spring-beans-2.5.xsd">

	<bean id="developer" class=" com.greenhorn.spring.model.Developer" autowire="constructor" />
		
	<bean id="language" class=" com.greenhorn.spring.model.Language" >
		<property name="name" value="Java" />
	</bean>

 <!-- if data type of a bean is same as the data type of other bean constructor argument, auto wire it. -->
</beans>